<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <img src="{{ url_for('static', filename='assets/GoLive!Logo3.png') }}" alt="logo" class="logo">
    </div>

    <div class="main">
        <div class="top-container container">
            <h1 class="header1">Deploy an app</h1>
            <p class="description">Directly deploy your app on GoLive! from your local directory. Upload your file and we’ll do the rest so you can focus on building without the hassles.</p>
        </div>

        <hr class="divider">

        <div class="container">
            <h2 class="header2">Select a project</h2>
            <label for="fileUpload" class="chooseFile description">
                Choose a file
                <input type="file" id="fileUpload" name="fileUpload" class="defaultInput description" webkitdirectory directory multiple>
            </label>
        </div>

        <hr class="divider">

        <div class="container">
            <h2 class="header2">Select a framework</h2>
            <div class="defaultInput dropDown description">
                <select id="options" name="options" class="description">
                    <option class="description" value="option1">No framework detected</option>
                    <option class="description" value="option2">django</option>
                    <option class="description" value="option3">flask</option>
                    <option class="description" value="option3">fastapi</option>
                    <option class="description" value="option3">rails</option>
                    <option class="description" value="option3">express</option>
                    <option class="description" value="option3">spring</option>
                    <option class="description" value="option3">larvel</option>
                </select>
            </div>
        </div>

        <hr class="divider">

        <div class="container">
            <h2 class="header2">Select provider</h2>
            <div class="selectionContainer">
                <input type="radio" id="button1" name="selectButton" value="Local host">
                <label class="selection description" for="button1">
                    Local host
                </label><br>
                <input type="radio" id="button2" name="selectButton" value="Google cloud">
                <label class="selection description" for="button2">
                    Google cloud
                </label><br>
                <input type="radio" id="button3" name="selectButton" value="Amazon cloud service">
                <label class="selection description" for="button3">
                    Amazon cloud service
                </label><br>
                <input type="radio" id="button4" name="selectButton" value="Linode">
                <label class="selection description" for="button4">
                    Linode
                </label><br>
            </div>
        </div>

        <div class="container">
            <button class="deployButton description">Deploy app</button>
        </div>
    </div>
</body>
</html>