<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="header1">Let's <span style="color: #01e895">GO</span>!! Your project has been deployed.</h1>
    <h1 class="header1">Check it out at: <a style="color: #01e895" href="http://{{link}}">{{link}}</a></h1>

    <img src="{{ url_for('static', filename='assets/dancing-gopher.gif') }}" alt="">
    <br>
    <div class="nextSteps">
        <h1>Next Steps:</h1>
        <ol>
            <li>If you wish to view the website from the domain, please go to your DNS register (e.g. GoDaddy or PorkBun) </li>
            <li>Go to your DNS settings and add an <b>A</b> record from <span>jammy.jajtutrfhertyst4w5 c</span> to {{link}} </li>
            <li>Click the button bellow</li>
            <li>VISIT YOUR SITE!</li>
        </ol>

    </div>
</body>
</html>
